<div layout="row" layout-align="center center" id="login-state" flex>
  <div layout="column" layout-align="center center" layout-fill="layout-fill">
    <div layout="column" class="login-box md-whiteframe-z5">
      <md-toolbar>
        <h2 class="md-toolbar-tools"><span>Login</span></h2>
      </md-toolbar>
      <md-content layout="column" class="md-padding">
        <md-input-container>
          <label>Username</label>
          <input type="text" ng-model="vm.user.username"/>
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input type="password" ng-model="vm.user.password"/>
        </md-input-container>
        <div layout="row" layout-align="center center" style="padding-top:20px;">
          <md-button class="md-raised md-primary" ng-click="vm.login()">Login</md-button>
          <div flex="flex"></div>
          <md-button ui-sref="register" md-no-ink="md-no-ink">Register</md-button>
        </div>
      </md-content>
    </div>
  </div>
</div>